html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-color: rgb(129, 129, 129);
}


/* Header bar */

.header {
    width: 100%;
    background-color: rgba(41, 128, 185, 0.5);
    height: 50px;
    display: grid;
    grid-template-columns: 35% 45% 20%;
    border-bottom: 1px solid;
}

.header .header-name-area {
    height: 50px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.header-name-area img {
    display: block;
    height: 45px;
    margin: auto;
    margin-left: 65px;
}

.header-name-area .header-name {
    font-size: 25px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
}

.header .header-search-area {
    display: flex;
    align-items: center;
    height: 50px;
}

.header .header-search-area input[type=text] {
    height: 70%;
    width: 70%;
    font-size: 16px;
    background: white;
    border-radius: 8px;
    border: none;
    padding-left: 2.5%;
}

.header .header-avatar-area {
    display: flex;
    align-items: center;
    height: 50px;
}

.header-avatar-area img {
    height: 80%;
    border-radius: 50%;
    margin-left: 75%;
}


/* Main workspace */

.main-area {
    height: calc(100% - 50px);
    display: grid;
    grid-template-columns: 80px calc(100% - 80px);
}


/* Navbar */

.main-area .navbar-area {
    height: 100%;
    border-right: 1px solid;
}

.main-area .navbar-area .navbar-items {
    height: 100%;
    list-style-type: none;
    background: linear-gradient(to right, white, rgb(235, 235, 235));
    width: 100%;
    padding-left: 0;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px calc(100% - 250px) 50px;
    box-sizing: border-box;
}

.main-area .navbar-area button {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, white, rgb(235, 235, 235));
    font-size: 14px;
    border-width: 1px;
    border-right: none;
    transition-duration: 0.4s;
    font-weight: 600;
}

.main-area .navbar-area button:hover {
    background: rgb(175, 175, 175);
}

.main-area .navbar-area button:active {
    background: gray;
    color: white;
}


/*Workspace*/

.workspace {
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
}

.workspace-header {
    background: rgb(147, 191, 220);
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: 60% 15% 15% 10%;
}

.workspace-header .fa {
    font-size: 40px;
}

.workspace .options:active {
    background: rgb(7, 30, 129);
    color: white;
}

.workspace-header .workspace-avatar-area {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    border-right: 1px solid;
}

.workspace-header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 30px;
}

.workspace-avatar-area div {
    font-size: 30px;
    margin-left: 30px;
}

.workspace-header .workspace-interact-area {
    border-width: 0px;
    border-style: solid;
    display: grid;
    grid-template-columns: 50% 50%;
}

.workspace-interact-area .options {
    background-color: transparent;
    border: none;
    /* border: none; */
}

.workspace-header .workspace-audio-area {
    border-width: 0px;
    border-right-width: 1px;
    border-style: solid;
    display: grid;
    grid-template-columns: 50% 50%;
}

.workspace-audio-area .options {
    background-color: transparent;
    border: none;
}

.workspace-header .leave-area {
    border-width: 0px;
    border-style: solid;
    display: grid;
    align-items: center;
}

.leave-area .btn-leave {
    margin: auto;
    background: crimson;
    color: white;
    font-size: 23px;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    border: none;
}

.leave-area .btn-leave:active {
    background: rgb(134, 0, 0);
    color: white;
}

.screen-chat-area {
    display: grid;
    grid-template-columns: 80% 20%;
}

.screen-chat-area .screen-area {
    border-right: 1px solid;
    background-color: rgb(65, 65, 65);
}

.screen-chat-area .chat-member-area {
    height: 505px;
    overflow-y: scroll;
}

.chat-member-area .member-avatar {
    float: left;
    width: 50%;
    background-color: rgb(172, 172, 172);
}

.member-avatar img {
    width: 100%;
    padding: 25px;
    border-radius: 50%;
}